[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "3rdparty/tomlplusplus"]
	path = 3rdparty/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
